<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onestep.id.sinergiin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".Admin.admin" />
        <activity android:name=".Pengrajin.Pengrajin" />
        <activity android:name=".Pengrajin.PengrajinDetailEcom" />
        <activity android:name=".Admin.adminDetailProduk" />
        <activity android:name=".Pembeli.pembeli" />
        <activity android:name=".Admin.adminPembagianDetail" />
        <activity android:name=".Pembeli.pembeliDetailCommerce" />
        <activity android:name=".Pembeli.pembeliPesananDetail" />
        <activity android:name=".Pengrajin.pengrajinDetailPembelian" />
        <activity android:name=".Pengrajin.pengrajinJualProduk" />
        <activity android:name=".Pengrajin.pengrajinDetailPesanan" />
        <activity android:name=".Pengrajin.pengrajinDetailQc" />
        <activity android:name=".Admin.adminDetailQc" />
        <activity android:name=".register" />
        <activity android:name=".PembeliInputPembelian"></activity>
    </application>

</manifest>